<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style/w3.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

<body>
    <div th:fragment="educationFragment(education)" class="w3-container">
        <h5 class="w3-opacity"><b th:text="${education.schoolName}">W3Schools.com</b></h5>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>
            <span th:text="${#temporals.format(education.startDate, 'MMM yyyy')} + ' - '"></span>
            <span th:if="${education.endDate == null}" class="w3-tag w3-teal w3-round">Current</span>
            <span th:if="${education.endDate != null}"
                th:text="${#temporals.format(education.endDate, 'MMM yyyy')}"></span>
        </h6>
        <p th:text="${education.description}">Web Development! All I need to know in one place</p>
        <hr>
    </div>
</body>

</html>